/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Play:400,700); /* Play */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic); /* Open sans */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #222222;
	
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: lighter;
}

#logo {
	background: transparent url("../images/logo.png") no-repeat;
	width: 289px;
	height: 49px;
	float: center;
	margin: 10px auto 40px;
}

.button {
	width: 220px;
	height: 40px;
	float: center;
	outline: none;
	margin: 20px auto;
	display: block;
}
.button { width: 145px; cursor: pointer; }

.inputtext {
	width: 220px;
	height: 40px;
	outline: none;
	margin: 0px;
}

.button {
	background: #1583b6; 																							/* Old browsers */
	background: -moz-linear-gradient(top, #1583b6 0%, #115e81 100%); 												/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1583b6), color-stop(100%,#115e81)); 	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1583b6 0%,#115e81 100%); 												/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1583b6 0%,#115e81 100%); 													/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1583b6 0%,#115e81 100%); 													/* IE10+ */
	background: linear-gradient(to bottom, #1583b6 0%,#115e81 100%); 												/* W3C */

	border: 1px solid #1bafcf;
	border-radius: 3px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-shadow: 2px 2px 3px #000000;
	text-align: center;
	outline: none;
	padding: 0px; height: 40px;
	
}
.button:hover {
	background: #1896d0; /* Old browsers */
	background: -moz-linear-gradient(top, #1896d0 0%, #14709b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1896d0), color-stop(100%,#14709b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1896d0 0%,#14709b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1896d0 0%,#14709b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1896d0 0%,#14709b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1896d0 0%,#14709b 100%); /* W3C */
}
.button:active {
	background: #12719d; /* Old browsers */
	background: -moz-linear-gradient(top, #12719d 0%, #0d4b67 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12719d), color-stop(100%,#0d4b67)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #12719d 0%,#0d4b67 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #12719d 0%,#0d4b67 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #12719d 0%,#0d4b67 100%); /* IE10+ */
	background: linear-gradient(to bottom, #12719d 0%,#0d4b67 100%); /* W3C */
	outline: none;
}

input[type="text"], .inputtext {
	background-color: #1d1d1d;
	border: 1px solid #919191;
	border-radius: 3px;
	padding: 0px 10px;
	color: #8b8b8b;
	text-shadow: 2px 2px 3px #000000;
	margin: 0px 0px;
}

.box-70, .box-90 {
	float: center;
	margin: 0px auto;
}
.box-90 {	width: 90%;	}
.box-70 {	width: 70%;	}
.box-full {	width: 100%;

  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#cautare {
	max-width: 80%;
	float: center;
	margin: 0px auto 30px;
	text-align: center;
}

.total_results {
	color: #1581b4;
}

/*buton criteriu*/
#casetaInput {
	display: inline-block;
	width: 218px;
	padding: 0px;
	margin: 10px 10px;
	vertical-align: top;
}

.input_criteriu {
	display: inline-block;
	width: 220px;
	height: 42px;
	
	text-align: left;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	
	border: 1px solid #919191;
	border-radius: 3px;
	color: #8b8b8b;
	text-shadow: 2px 2px 3px #000000;
	background: #1d1d1d url("../images/arrow.png") no-repeat right;
	padding: 0px 10px;
	
	-webkit-appearance: none;
	background-position-x: 190px;
}

a, a:visited {
	color: #1581b4;
}

a:hover {
	text-decoration: none;
}

#error {
	background-color: red;
	border-radius: 3px;
	border: 1px solid black;
	width: 100%;
	height: 40px;
	
	padding: 10px;
	margin-bottom: 25px;
}

.rightClose{
	color: white;
	float: right;
	margin: 0px;
}






































