td {
	border: 1px solid #919191;
	padding: 5px;
}
table {
	border: 1px solid #919191;
	border-collapse: collapse;
}
.searchby {
	background-color: #f9febc; color: black;
}

#pagination{
	text-align: center;
	float: center;
	margin: 15px auto;

}