/*pentru tabel*/ 
.large-padding {
  padding: 10px 60px; /* 10px for top and bottom to keep inline with the other cells, 60px for left and right */
}

.large-padding2 {
  padding: 10px 150px; /* 10px for top and bottom to keep inline with the other cells, 150px for left and right */
}

.large-padding3 {
  padding: 10px 50px; /* 10px for top and bottom to keep inline with the other cells, 50px for left and right */
}

.large-padding4 {
  padding: 10px 35px; /* 10px for top and bottom to keep inline with the other cells, 35px for left and right */
}

.large-padding5 {
  padding: 10px 65px; /* 10px for top and bottom to keep inline with the other cells, 65px for left and right */
}

.large-padding6 {
  padding: 10px 70px; /* 10px for top and bottom to keep inline with the other cells, 70px for left and right */
}

.large-padding7 {
  padding: 10px 10px; /* 10px for top and bottom to keep inline with the other cells, 10px for left and right */
}

table {
    border-collapse: collapse;
}


  
  table, tr, td{
	  background-color:#222222;
	  color:#edebec;
	  max-width: 1360px; 
	 
  }